.contenedorErrorAPI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}


.errorAPI {
    font-size: 2rem;
    color: red;
    font-weight: 700;
    margin: 5px;
}


.errorMensajeAPI {
    font-size: 1.1rem;
    color: #666;
    margin-top: 5px;
    line-height: 0.5;
}

.imagenSol {
    max-width: 30%;
}