.filtroBase {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.tituloFiltro {
    margin-top: 0;
    color: #0d47a1;
    font-size: 1.8rem;
}

.formatoSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.selectWrapper {
    width: 100%;
}

.labelSelect {
    font-weight: bold;
}

.btnFiltro {
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-top: 50px;
}

.btnFiltro:hover {
    background-color: #0d47a1;
}

.btnFiltro:disabled {
    background-color: #cccccc;
    transition: none;
    box-shadow: none;

}


@media (max-width: 768px) {
    .formatoSelect {
        flex-direction: column;
        gap: 15px;
    }
}